<% if feedback %>
    <p>Feedback</p>

    <% feedback[:colors].each_with_index do |color, index| %>
            <font color='<%= color.to_s %>'>
                <%= feedback[:guess][index].to_s %>
            </font>
    <% end %>

    <% if feedback[:game_over] %>
        <%= erb :play_again %>
    <% end %>

<% end %>