<div class='main_container'>
    <% if code_setter == "human" %>
        <p>What's your code?</p>
        <div class='form_container'>
            <form action="/set_code" method="POST">
                <input type="text" name="code" placeholder="****" autofocus>
                <input class='button' type="submit" value="Go">
            </form>
        </div>
    <% else %>
        <% if feedback[:game_over] == false %>
            <p>What's your guess?</p>
            <div class='form_container'>
                <form action="/guess_code" method="POST">
                    <input type="text" name="code" placeholder="****" autofocus>
                    <input class='button' type="submit" value="Go">
                </form>
            </div>
            <% if feedback[:colors] && feedback[:game_over] == false %>
                <div class="feedback_container">
                    <div class='feeback_text'>
                        <p>Feedback</p>
                    </div>

                    <div class="feedback_numbers">
                        <% feedback[:colors].each_with_index do |color, index| %>
                            <span class='<%= color.to_s %>'>
                                <%= feedback[:guess][index].to_s %>
                            </span>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
        
        <% if feedback[:game_over] %>
                <% if feedback[:game_over] %>
                    <%= erb :play_again %>
                <% end %>
        <% end %>
    <% end %>
</div>