<h3>You are playing against the computer</h3>

<form action="/check" method="POST">
    <input type="text" name="guess" placeholder="Type a four number guess" autofocus>
    <input type="submit" value="Guess">
</form>

<% if results %>
    <% results[:visual].each_with_index do |color, index| %>
        <font color='<%= color %>'>
            <%= results[:previous_guess][index].to_s %>
        </font>
    <% end %>
        <% if results[:winner] %>
        <form action="/" method="GET">
            <input type="submit" value="Play again">
        </form>
    <% end %>
<% end %>

